<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <h3><a href="/" class="title">
        Ruby Shop
      </a></h3>

      <h3><a href="/cart">
        <span class="cartButton navbar-right glyphicon glyphicon-shopping-cart">
          £<span class="cartTotal"><%= @cart_total %></span> Cart
        </span>
      </a></h3>

    </div>

  </div>
</nav>
