<div class="container-fluid">
  <div class="row">

    <% session[:products].each do |product| %>
      <%= partial(template: :_product, locals: { product: product }) %>
    <% end %>

  </div>
</div>
